<div class="results-container container" {{action "handleKeyPress" data._links on="keyDown" preventDefault=false}}>
{{#if data._total}}
  <div class="streams-header row">
    <div class="total-results col-xs-6">
      Total results: {{data._total}}
    </div>
    <div class="pagination-controls col-xs-6" title="Use left and right arrow keys to change pages when this section is focused">
      {{#if data._links.prev}}
        <button tabindex="0" {{action 'changePage' data._links.prev}} class="prev-page">&#x25C0;</button>
      {{/if}}
      <span>{{data.page_number}}/{{data.pages}}</span>
      {{#if data._links.next}}
        <button tabindex="0" {{action 'changePage' data._links.next}} class="next-page">&#x25b6;</button>
      {{/if}}
    </div>
  </div>
{{else if data.no_results}}
  <div class="streams-header row">
    <span class="no-results col-xs-6">No results found!</span>
  </div>
{{/if}}
{{#each data.streams as |stream|}}
  <div class="channel-row row">
    <div class="col-sm-4 col-md-3">
      <div class="channel-preview">
        <img class="preview-img" src="{{stream.preview.medium}}">
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="channel-info">
        <div class="channel-name">{{stream.channel.display_name}}</div>
        <div class="channel-details">{{stream.game}} - {{stream.viewers}} viewers</div>
        <div class="channel-description">{{stream.channel.status}}</div>
      </div>
    </div>
  </div>
{{/each}}
</div>