<div class="container">
{{#if data._total}}
	<div class="streams-header row">
		<div class="total-results">
			Total results: {{data._total}}
		</div>
		<div class="pagination">
			{{#if data._links.prev}}
				<span {{action 'changePage' data._links.prev}}>prev</span>
			{{/if}}
			<span>{{data.page_number}}/{{data.pages}}</span>
			<span {{action 'changePage' data._links.next}}>next</span>
		</div>
	</div>
{{/if}}
{{#each data.streams as |stream|}}
	<div class="channel-row row">
		<div class="col-sm-4 col-md-3">
			<div class="channel-preview">
				<img class="preview-img" src="{{stream.preview.medium}}">
			</div>
		</div>
		<div class="col-sm-8 col-md-9">
			<div class="channel-info">
				<div class="channel-name">{{stream.channel.display_name}}</div>
				<div class="channel-details">{{stream.game}} - {{stream.viewers}} viewers</div>
				<div class="channel-description">{{stream.channel.status}}</div>
			</div>
		</div>
	</div>
{{/each}}
</div>